
table {
    width: 100%; 
    border-collapse: collapse; 
    margin: 20px 0;
    font-family: Arial, sans-serif; 
}

th, td {
    padding: 10px;
    text-align: left; 
    border: 1px solid #ddd; 
}

th {
    background-color: #f2f2f2; 
    color: #333; 
}

tr:nth-child(even) {
    background-color: #f9f9f9; 
}


body {
    background-image: url('images/dash 2.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
}